<div class="wrqpper">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">ice</label>
      <input type="text" class="form-control" [(ngModel)]="societe.ice" name="ice" aria-describedby="emailHelp" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">libelle</label>
      <input type="text" class="form-control" [(ngModel)]="societe.libelle" name="libelle" id="exampleInputPassword1" >
    </div>
    <button type="submit" (click)="save()" class="btn btn-primary">Submit</button>
  </form>
</div>

